// Placeholder to allow overriding predefined variables smoothly.
$brand-color: #ccc;
$text-color: #eee;
$highlight: fuchsia;

$link-base-color: #f0f;
$link-visited-color: darken(#f0f, 25%);
$link-hover-color: darken(#f0f, 25%);

$spacing-unit: 20px;

// $link-base-color: var(--minima-link-base-color);
// $link-visited-color: var(--minima-link-visited-color);
// $link-hover-color: var(--minima-link-hover-color);

// $dm-link-base-color:       #79b8ff !default;
// $dm-link-visited-color:    $dm-link-base-color !default;
// $dm-link-hover-color:      $dm-text-color !default;

// $dm-link-base-color: fuchsia !default;
// $dm-link-visited-color: $dm-link-base-color !default;
// $dm-link-hover-color: darken($dm-link-base-color, 25%) !default;